<!DOCTYPE html>
<html lang="en">

<head>
    <!--required meta tags-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--meta-->
    <link rel="icon" href="<%- main_site.favicon %>" type="image/png" sizes="16x16">
    <title><%- main_site.title %></title>
    <meta name="description" content="<%- main_site.description %>">
    <meta name="author" content="<%- main_site.author %>">

    <!--twitter og-->
    <meta name="twitter:site" content="@<%- main_site.author %>">
    <meta name="twitter:creator" content="@<%- main_site.author %>">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="<%- main_site.title %>">
    <meta name="twitter:description" content="<%- main_site.description %>">
    <meta name="twitter:image" content="#">

    <!--facebook og-->
    <meta property="og:url" content="#">
    <meta name="twitter:title" content="<%- main_site.title %>">
    <meta property="og:description" content="<%- main_site.description %>">
    <meta property="og:image" content="#">
    <meta property="og:image:secure_url" content="#">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="600">

    <%- include('src/header') %>
</head>

<body class="davinci-game">
    <div class="background"></div>
    <%- include('src/navbar') %>
    <div class="flex start">
        <header>
            <div class="logo mt-2 mb-2">
                <img src="/public/images/logo-v1.png" style="width: 200px">
                <h3>JUST GUESS AND WIN</h3>
            </div>
        </header>
        <div class="card play-card mx-auto">
            <div class="title"><span class="gTitle"><h2>เล่นเลย!</h2></span></div>
            <div class="content">
                <div class="info">
                    <div class="form-group">
                        <label for="username" class="input-label">ชื่อผู้เล่น</label>
                        <input type="email" class="form-control" id="username" placeholder="ระบุชื่อผู้เล่น">
                    </div>
                    <div class="form-group">
                        <label for="room_id" class="input-label">ID ห้อง</label>
                        <input type="text" class="form-control" id="room_id" placeholder="ID ห้อง">
                    </div>
                </div>
                <div class="actions">
                    <button class="btYellowBig ic-playHome"><strong>เล่น!</strong></button>
                    <a class="btBlueBig ic-rooms" href="/create"><strong>เปิดตี๊</strong></a>
                </div>
            </div>
        </div>
        <footer>
            <p>Made by Ctrl C + Ctrl V in my computer</p>
        </footer>
    </div>
    <%- include('src/script') %>

</body>

</html>