<!DOCTYPE html>
<html lang="en">

<head>
    <!--required meta tags-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--meta-->
    <link rel="icon" href="<%- main_site.favicon %>" type="image/png" sizes="16x16">
    <title>เล่นเกม | <%- main_site.title %></title>
    <meta name="description" content="<%- main_site.description %>">
    <meta name="author" content="<%- main_site.author %>">
    <%- include('src/header') %>
</head>
<body class="davinci-game">
    <div class="background"></div>
    <%- include('src/navbar') %>
    <div class="flex play">
        <header>
            <div class="logo mt-2 mb-2">
                <img src="/public/images/logo-v1.png" style="width: 200px">
                <h3>JUST GUESS AND WIN</h3>
            </div>
        </header>
        <div class="card play-card mx-auto" style="min-height: 750px;">
            <div class="title"><span class="gTitle"><h2>รอคนอื่นสักครู่!</h2></span></div>
            <div class="content chat">
                <div class="dataChat">
                    <div class="chat-list"></div>
                </div>
                <div class="wating-screen chat-lottie d-none">
                    <lottie-player src="https://assets2.lottiefiles.com/private_files/lf30_khak9ubl.json" class="LottiePlayer" background="transparent"  speed="1"  style="width: 300px; height: 300px;" autoplay></lottie-player>
                </div>
                <div class="input-group input-group-mergeform-send-message">
                    <textarea class="form-control ChatBox" placeholder="พิมพ์คำตอบหรือพูดคุยที่นี่" id="MessageBox" rows="3" required=""></textarea>
                </div>
                <div class="actions" style="flex-direction: column;">
                    <button class="btBlueBig ic-rooms SendMessage"><strong>ส่งคำตอบ/แชท!</strong></button>
                    <a class="btYellowBig ic-rooms ContinueGame" href="/"><strong>ออกจากเกม!</strong></a>
                </div>
            </div>
        </div>
        <footer>
            <p>Made by Ctrl C + Ctrl V in my computer</p>
        </footer>
    </div>
    <%- include('src/script') %>
    <script src="/public/js/play.js?v=1"></script>
</body>

</html>